### Module Imports

In [1]:
import pandas as pd
import psycopg2 as pg
import os
import pprint
import sqlite3 as lite

### Lookup Tables

In [ ]:
schema_author="""CREATE TABLE Author (
  Author_ID SERIAL PRIMARY KEY,
  Author_Name TEXT UNIQUE
);"""

In [ ]:

schema_publisher="""CREATE TABLE Publisher (
  Publisher_ID SERIAL PRIMARY KEY,
  Publisher_Name TEXT UNIQUE
);"""

In [ ]:

schema_vendor="""CREATE TABLE Vendor (
  Vendor_ID SERIAL PRIMARY KEY,
  Vendor_Name TEXT UNIQUE
);"""

In [ ]:

schema_courses="""CREATE TABLE Courses (
  Course_ID SERIAL PRIMARY KEY,
  Course_Name TEXT UNIQUE
);"""

In [ ]:

schema_schools="""CREATE TABLE Schools (
  School_ID SERIAL PRIMARY KEY,
  School_Name TEXT UNIQUE
);"""

### Inheritance

In [ ]:
schema_lib_members="""CREATE TABLE Lib_Members (
  ID TEXT PRIMARY KEY,
  Name TEXT,
  EMail TEXT
);"""

In [ ]:
schema_staff="""
CREATE TABLE Staff (
  ID TEXT PRIMARY KEY
) INHERITS (Lib_Members);"""

In [ ]:

schema_faculty="""CREATE TABLE Faculty (
  ID TEXT PRIMARY KEY,
  School_ID INT,
  FOREIGN KEY(School_ID) REFERENCES Schools(School_ID)
) INHERITS (Lib_Members);"""

In [ ]:

schema_students="""CREATE TABLE Students (
  ID TEXT PRIMARY KEY,
  Course_ID INT,
  School_ID INT,
  FOREIGN KEY(School_ID) REFERENCES Schools(School_ID),
  FOREIGN KEY(Course_ID) REFERENCES Courses(Course_ID)
) INHERITS (Lib_Members);"""

In [ ]:

schema_lib_items="""CREATE TABLE Lib_Items (
  ID TEXT PRIMARY KEY,
  Name TEXT,
  Publisher_ID INT,
  Vendor_ID INT,
  No_of_Copies INT,
  Ratings_and_Reviews JSON
);"""

In [ ]:

schema_books="""CREATE TABLE Books (
  ID TEXT PRIMARY KEY
) INHERITS (Lib_Items);"""

### Others

In [ ]:

schema_assets="""CREATE TABLE Assets (
  Accession_No SERIAL,
  Asset_ID TEXT,
  PRIMARY KEY (Accession_No),
  FOREIGN KEY(Asset_ID) REFERENCES Lib_Items(ID)
);"""

In [ ]:
schema_reservations="""CREATE TABLE Reservations (
  Reservation_ID SERIAL PRIMARY KEY,
  Member_ID TEXT,
  Reserve_Date DATE,
  Asset_ID TEXT,
  FOREIGN KEY(Asset_ID) REFERENCES Lib_Items(ID),
  FOREIGN KEY(Member_ID) REFERENCES Lib_Members(ID)
);"""

In [ ]:

schema_book_author="""CREATE TABLE Book_Author (
  Book_ID TEXT,
  Author_ID INT,
  FOREIGN KEY(Book_ID) REFERENCES Books(ID),
  FOREIGN KEY(Author_ID) REFERENCES Author(Author_ID)
);"""

In [ ]:

schema_issue_register="""CREATE TABLE Issue_Register (
  Issue_ID SERIAL PRIMARY KEY,
  Accession_No INT,
  Member_ID TEXT,
  Issue_Date DATE,
  Due_Date DATE,
  Returned_Date DATE,
  FOREIGN KEY(Accession_No) REFERENCES Assets(Accession_No),
  FOREIGN KEY(Member_ID) REFERENCES Lib_Members(ID)
);"""

In [ ]:

schema_defaulters="""CREATE TABLE Defaulters (
  Member_ID TEXT,
  Issue_ID INT,
  Days_Delayed INT,
  FOREIGN KEY(Member_ID) REFERENCES Lib_Members(ID),
  FOREIGN KEY(Issue_ID) REFERENCES Issue_Register(Issue_ID)
);"""

In [ ]:

schema_book_recommendations="""CREATE TABLE Book_Recommendations (
  Book_Name TEXT,
  Author_Name TEXT,
  Publisher_Name TEXT,
  Count INT
);"""

### Utilities

In [ ]:
def get_con_and_cur(dbname="LibMS"):
    con=pg.connect(host="localhost",port="5432",database=dbname,user="postgres",password="pg@postgres")
    cur=con.cursor()
    return con,cur

In [ ]:
def list_all_tables(cur):
    cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
    tables = [t[0] for t in cur.fetchall()]
    return tables

In [ ]:
def delete_all_tables(con,cur):
    tables=list_all_tables(cur)
    for table in tables:
        try:
            cur.execute(f"""DROP TABLE IF EXISTS {table} CASCADE""")
            con.commit()
        except Exception as e:
            print(e)
            con.rollback()

In [ ]:
def clear_table(con,cur,tbname):
    try:
        cur.execute(f"DELETE FROM {tbname}")
        print(f"All Records in Table '{tbname}' Deleted")
        con.commit()
    except Exception as e:
        print(e)
        con.rollback()

In [ ]:
def delete_table(con,cur,tbname):
    try:
        cur.execute(f"DROP TABLE IF EXISTS {tbname}")
        print(f"Table '{tbname}' Deleted Successfully")
        con.commit()
    except Exception as e:
        print(e)
        con.rollback()

In [ ]:
def create_all_tables(con,cur):
    schemas=[schema_author,schema_publisher,schema_vendor,schema_courses,schema_schools,schema_lib_members,schema_staff,schema_faculty,schema_students,schema_lib_items,schema_books,schema_assets,schema_reservations,schema_book_author,schema_issue_register,schema_defaulters,schema_book_recommendations]
    for schema in schemas:
        try:
            cur.execute(schema)
            print(f"Table {schema.split()[2]} Created")
            con.commit()
        except Exception as e:
            print(e)
            con.rollback()

### Getting Connection and Cursor

In [ ]:
con.close()

In [ ]:
con,cur=get_con_and_cur()

### Creating Tables

In [ ]:
delete_all_tables(con,cur)

In [ ]:
create_all_tables(con,cur)

Table Author Created
Table Publisher Created
Table Vendor Created
Table Courses Created
Table Schools Created
Table Lib_Members Created
Table Staff Created
Table Faculty Created
Table Students Created
Table Lib_Items Created
Table Books Created
Table Assets Created
Table Reservations Created
Table Book_Author Created
Table Issue_Register Created
Table Defaulters Created
Table Book_Recommendations Created

### Inserting Data in Schools Table

In [ ]:
with lite.connect('./Data/db_Library_ref.sqlite') as lite_con:
    schools_data=[[school[0]] for school in lite_con.execute("SELECT Dept FROM Department").fetchall()]

In [ ]:
schools_data

In [ ]:
try:
    cur.executemany("INSERT INTO Schools(School_Name) VALUES (%s)",schools_data)
    print("Inserted Records into 'Schools' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Schools' Table

### Inserting Data in Courses Table

In [ ]:
courses_data=[['BSC'],['BTECH'],['BCA'],['MTECH'],['BBA'],['BCOM'],['BDES']]
try:
    cur.executemany("INSERT INTO Courses(Course_Name) VALUES (%s)",courses_data)
    print("Inserted Records into 'Courses' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Courses' Table

### Inserting Data in Students Table

In [ ]:
students_df=pd.read_excel('./Data/SoCSE_Student.xlsx')

In [ ]:
students_df.columns

In [ ]:
students_data=[]
for student in students_df.iterrows():
    row=student[1]
    id,name,email=row['USN'],row['Name'],row['EMail_ID']
    school_id=cur.execute(f"SELECT School_ID FROM Schools WHERE School_Name LIKE '%School of Computer Science and Engineering%'")
    school_id=cur.fetchone()[0]
    course_id=cur.execute(f"SELECT Course_ID FROM Courses WHERE Course_Name='{row['Course']}'")
    course_id=cur.fetchone()[0]
    students_data.append([id,name,email,school_id,course_id])

In [ ]:
try:
    cur.executemany("INSERT INTO Students(ID,Name,EMail,School_ID,Course_ID) VALUES (%s,%s,%s,%s,%s)",students_data)
    print("Inserted Records into 'Students'")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Students'

In [ ]:
student_only_lib_data=[[data[0],data[1],data[2]] for data in students_data]

In [ ]:
try:
    cur.executemany("INSERT INTO Lib_Members(ID,Name,EMail) VALUES (%s,%s,%s)",student_only_lib_data)
    print("Inserted Records into 'Lib_Members'")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Lib_Members'

### Inserting Data in Faculty Table

In [ ]:
faculty_df=pd.read_excel('./Data/SoCSE_Faculty.xlsx')

In [ ]:
faculty_df.columns

Index(['EMail_Name', 'Name', 'EMail_ID', 'Employee_ID', 'Type', 'Designation'], dtype='object')

In [ ]:
faculty_data=[]
for row in faculty_df.iterrows():
    faculty=row[1]
    id,name,email=faculty['EMail_Name'],faculty['Name'],faculty['EMail_ID']
    school_id=cur.execute(f"SELECT School_ID FROM Schools WHERE School_Name LIKE '%School of Computer Science and Engineering%'")
    school_id=cur.fetchone()[0]
    faculty_data.append([id,name,email,school_id])

In [ ]:
try:
    cur.executemany("INSERT INTO Faculty(ID,Name,EMail,School_ID) VALUES (%s,%s,%s,%s)",faculty_data)
    print("Inserted Records into 'Faculty'")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Faculty'

In [ ]:
faculty_only_lib_data=[[data[0],data[1],data[2]] for data in faculty_data]

In [ ]:
try:
    cur.executemany("INSERT INTO Lib_Members(ID,Name,EMail) VALUES (%s,%s,%s)",faculty_only_lib_data)
    print("Inserted Records into 'Lib_Members'")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Lib_Members'

### Inserting Data in Publisher Table

In [ ]:
books_df=pd.read_excel('./Data/Books.xlsx')

In [ ]:
for column in books_df.columns:
    books_df[column]=(books_df[column].str.strip()).str.title()

In [ ]:
books_df['Publisher'][books_df['Publisher']=="O'Reilly"]="O Reilly"

In [ ]:
publisher_data=[[publisher]for publisher in books_df['Publisher'].unique()]

In [ ]:
try:
    cur.executemany("INSERT INTO Publisher(Publisher_Name) VALUES (%s)",publisher_data)
    print("Inserted Records into 'Publisher' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Publisher' Table

### Inserting Data in Vendor Table

In [ ]:
vendor_data=[[vendor] for vendor in books_df['Vendor'].unique()]

In [ ]:
try:
    cur.executemany("INSERT INTO Vendor(Vendor_Name) VALUES (%s)",vendor_data)
    print("Inserted Records into 'Vendor' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Vendor' Table

### Inserting Data in Author Table

In [ ]:
author_data=[]
for data in books_df['Author'].unique():
    for author in data.split(","):
        author_data.append([author.strip()])

In [ ]:
try:
    cur.executemany("INSERT INTO Author(Author_Name) VALUES (%s)",author_data)
    print("Inserted Records into 'Author' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Author' Table

### Inserting Data in Books Table

In [ ]:
#For Simplicity, keeping the number of copies to 1
no_of_copies=1

In [ ]:
books_df['Name'][books_df['Name']=="Mongodb Administator'S Guide"]="Mongodb Administrators Guide"

In [ ]:
books_data=[]
for isbn,row in books_df.groupby('ISBN'):
    data=row.iloc[0]
    name=data['Name']
    try:
        publisher_id=cur.execute(f"""SELECT Publisher_ID FROM Publisher WHERE Publisher_Name='{data['Publisher']}' """)
        publisher_id=cur.fetchone()[0]
    except Exception as e:
        print(e);con.rollback();break
    try:
        vendor_id=cur.execute(f""" SELECT Vendor_ID FROM Vendor WHERE Vendor_Name='{data['Vendor']}' """)
        vendor_id=cur.fetchone()[0]
    except Exception as e:
        print(e);con.rollback();break
    no_of_copies=no_of_copies
    books_data.append([isbn,name,publisher_id,vendor_id,no_of_copies])

In [ ]:
try:
    cur.executemany("INSERT INTO Books(ID,Name,Publisher_ID,Vendor_ID,No_of_Copies) VALUES (%s,%s,%s,%s,%s)",books_data)
    print("Inserted Records into 'Books' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Books' Table

In [ ]:
try:
    cur.executemany("INSERT INTO Lib_Items VALUES (%s,%s,%s,%s,%s)",books_data)
    print("Inserted Records into 'Lib_Items' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Lib_Items' Table

### Inserting Data in Book_Author Association Table

In [ ]:
association_data=[]
for isbn,row in books_df.groupby('ISBN'):
    data=row.iloc[0]
    for author in data['Author'].split(","):
        try:
            author_id=cur.execute(f"SELECT Author_ID FROM Author WHERE Author_Name='{author.strip()}'")
            author_id=cur.fetchone()[0]
            association_data.append([isbn,author_id])
        except Exception as e:
            print(e);con.rollback();break

In [ ]:
try:
    cur.executemany("INSERT INTO Book_Author(Book_ID,Author_ID) VALUES (%s,%s)",association_data)
    print("Inserted Records into 'Book_Author' Association Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Book_Author' Association Table

### Inserting Data in Assets Table

In [ ]:
assets_data=[]
for isbn,row in books_df.groupby('ISBN'):
    data=row.iloc[0]
    try:
        no_copies=cur.execute(f"SELECT No_Of_Copies FROM Books WHERE Name='{data['Name']}'")
        no_copies=cur.fetchone()[0]
        for i in range(no_copies):
            assets_data.append([isbn])
    except Exception as e:
        print(e);con.rollback();break

In [ ]:
assets_data

In [ ]:
try:
    cur.executemany("INSERT INTO Assets(Asset_ID) VALUES (%s)",assets_data)
    print("Inserted Records into 'Assets' Table")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Inserted Records into 'Assets' Table

In [ ]:
con.close()

### Creating Functions/Stored Procedures for Triggers

#### Function to Change No_of_Copies of a Book

In [ ]:
change_no_of_copies="""
CREATE OR REPLACE FUNCTION change_no_of_copies(isbn text, number int, operation text)
RETURNS VOID
LANGUAGE PLPGSQL
AS
    $$
        BEGIN
            IF operation='increment' THEN UPDATE Books SET No_of_Copies=No_of_Copies+number WHERE ID=isbn;
                END IF;
            IF operation='decrement' THEN UPDATE Books SET No_of_Copies=No_of_Copies-number WHERE ID=isbn;
                END IF;
        END;
    $$
"""
try:
    cur.execute(change_no_of_copies)
    print("Function 'change_no_of_copies' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Function 'change_no_of_copies' Created Successfully

#### Function to Decrement No_of_Copies by 1 when Issuing a Book

In [ ]:
function_after_issue="""
CREATE OR REPLACE FUNCTION function_after_issue()
RETURNS TRIGGER
LANGUAGE PLPGSQL
AS
    $$
        DECLARE isbn TEXT;
        BEGIN
            SELECT ID FROM Books,Assets WHERE Assets.Accession_No=NEW.Accession_No AND Books.ID=Assets.Asset_ID
            INTO isbn;
            PERFORM change_no_of_copies(isbn,1,'decrement');
        RETURN NULL;
        END;
    $$
"""
try:
    cur.execute(function_after_issue)
    print("Function 'function_after_issue' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Function 'function_after_issue' Created Successfully

#### Function to Increment No_of_Copies by 1 when Collecting a Book Back

In [ ]:
function_after_return="""
CREATE OR REPLACE FUNCTION function_after_return()
RETURNS TRIGGER
LANGUAGE PLPGSQL
AS
    $$
        DECLARE isbn TEXT;
        BEGIN
            SELECT ID FROM Books,Assets WHERE Assets.Accession_No=NEW.Accession_No AND Books.ID=Assets.Asset_ID
            INTO isbn;
            PERFORM change_no_of_copies(isbn,1,'increment');
        RETURN NULL;
        END;
    $$
"""
try:
    cur.execute(function_after_return)
    print("Function 'function_after_return' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Function 'function_after_return' Created Successfully

#### Function to Populate Defaulters Table if a book is returned after Due Date

In [ ]:
function_populate_defaulters="""
CREATE OR REPLACE FUNCTION function_populate_defaulters()
RETURNS TRIGGER
LANGUAGE PLPGSQL
AS
    $$
        DECLARE no_of_days_delayed INTEGER;
        DECLARE isbn TEXT;
        BEGIN
            SELECT ID FROM Books,Assets WHERE Assets.Accession_No=OLD.Accession_No AND Assets.Asset_ID=Books.ID INTO isbn;
            no_of_days_delayed:=(NEW.Returned_Date - OLD.Due_Date)::INTEGER;
            INSERT INTO Defaulters(Member_ID,Issue_ID,Days_Delayed) VALUES (OLD.Member_ID,OLD.Issue_ID,no_of_days_delayed);
            PERFORM change_no_of_copies(isbn,1,'increment');
        RETURN NULL;
        END;
    $$
"""
try:
    cur.execute(function_populate_defaulters)
    print("Function 'function_populate_defaulters' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Function 'function_populate_defaulters' Created Successfully

### Creating Triggers

#### Trigger which executes after a Book is Issued

In [ ]:
trigger_for_issue_book="""
CREATE OR REPLACE TRIGGER trigger_for_issue_book
AFTER INSERT ON Issue_Register
FOR EACH ROW
EXECUTE FUNCTION function_after_issue();
"""
try:
    cur.execute(trigger_for_issue_book)
    print("Trigger 'trigger_for_issue_book' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Trigger 'trigger_for_issue_book' Created Successfully

#### Trigger which executes after the Book is Returned

In [ ]:
trigger_for_return_book="""
CREATE OR REPLACE TRIGGER trigger_for_return_book
AFTER UPDATE ON Issue_Register
FOR EACH ROW
WHEN (OLD.Returned_Date IS NULL AND NEW.Returned_Date IS NOT NULL AND NEW.Returned_Date <= OLD.Due_Date)
EXECUTE FUNCTION function_after_return();
"""
try:
    cur.execute(trigger_for_return_book)
    print("Trigger 'trigger_for_return_book' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Trigger 'trigger_for_return_book' Created Successfully

#### Trigger which executes if the Book is returned after Due Date

In [ ]:
trigger_populate_defaulters="""
CREATE OR REPLACE TRIGGER trigger_for_populating_defaulters
AFTER UPDATE ON Issue_Register
FOR EACH ROW
WHEN (OLD.Returned_Date IS NULL AND NEW.Returned_Date IS NOT NULL AND NEW.Returned_Date > OLD.Due_Date)
EXECUTE FUNCTION function_populate_defaulters();
"""
try:
    cur.execute(trigger_populate_defaulters)
    print("Trigger 'trigger_populate_defaulters' Created Successfully")
    con.commit()
except Exception as e:
    print(e)
    con.rollback()

Trigger 'trigger_populate_defaulters' Created Successfully

In [ ]:
con.close()